body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/gray-comp.jpg);
    background-size: cover;
    color: white;
}
h1{
    text-align: center;
    margin: 20px;
}
.card{
    background: transparent;
    border-color: black;
    margin: .5em 0;
}
.btn{
    position: relative;
    z-index: 1;
}
.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.1);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms ease-in;
}
.btn:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.page-img{
    width: 100%;
    height: 200px;
    display: block;
}
.card-text{
    color: rgb(150, 148, 148);
}
.card-body{
    height: 27em;
}


@media (max-width: 767.98px) {
    .card-body{
        min-height: 33rem;
    }
    }

    @media (max-width: 991.98px) {
    .card {
        min-height: 25rem;
    }
        }