body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/gray-comp.jpg);
    background-size: cover;
    color: white;
}
h1 {
    text-align: center;
    margin: 20px;
}
#resumeDiv {
    height: 80vh;
}