body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/gray-comp.jpg);
    background-size: cover;
}
/* .card{
    color: rgb(186, 234, 238);
} */
.jumbotron{
    background-color: transparent;
    color: white;
    text-align: center;
}
.btn{
    margin: 10px 20px;
    box-sizing: border-box;
    width: 7em;
}
.lead{
    border-bottom: 3px solid rgb(19, 17, 17);
    padding-bottom: 2em;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
.title{
    font-size: 4em;
}
}

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {
    
} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {

} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {

} */